.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.text {  
  margin: 0;
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 150%;
  color: #1f1f1f;
}

.title {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(1.5625rem, 1.3125rem + 1.25vw, 2.4375rem);
  line-height: 129%;
  letter-spacing: 0.01em;
  color: #1f1f1f;
}
.button {
  background: var(--blue-color);
  padding: 10px 30px;
  color: #fff;
  font-size: clamp(0.9375rem, 0.9018rem + 0.1786vw, 1.0625rem);
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #53a0c2;
}